*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body{
    height: 100%;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

/* Fin del reseteo de estilos */

/* declarar variables de colores */

:root{
   /* Primary */ 
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
   /* Neutral */ 
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

/* fin declarar variables de colores */

body{
    background-color: var(--Cream);
    padding: 1rem;
}

article figure{
    background-image: url("./assets/img/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 240px;
    margin-top: 12px;
}

/* Editamos los textos */

article article{
    background-color: var(--White);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.5rem;
}

article p:first-of-type{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 12px;
}

article h1{
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    max-width: 295px;
    margin-bottom: 1rem;
}

article h1 ~ p{
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
    font-size: 14px;
    font-weight: 500;
    max-width: 295px;
    margin-bottom: 1rem;
}

span:first-of-type{
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--Dark-cyan);
}

span ~ span{
    text-decoration: line-through;
}

.prices{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

button{
    align-items: center;
    background-color: var(--Dark-cyan);
    border: none;
    border-radius: 0.5rem;
    color: var(--White);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 3rem;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

button::before{
    content: url('./assets/img/icon-cart.svg');
    font-size: 14px;
    margin: 0 1rem;
}

/* Fin Mobile */

@media (min-width: 768px) {
    article{
        width: 411px;
    }
}

/* Fin Tablet */

@media (min-width: 1280px){

    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        width: 600px;
    }

    article figure{
        background-image: url("./assets/img/image-product-desktop.jpg");
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 50%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        margin-top: 0;
    }

    article article{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 450px;
        width: 50%;
        padding: 2rem;
    }

    span{
        margin-right: 15px;
    }

}